body {

    font:Arial, Helvetica, sans-serif;

    width: 1024px;

    margin: 0 auto;

    position: relative;

    background:  #aee9f3;

   }

   h2 {

    margin-bottom: 0;

    color: #29447e;

   }

   h3 {

    color: #29447e;

    margin-bottom: 0;

   }

   h4 {

    color: #680005;

    margin-bottom: 0;

   }

   header {

    font-weight: bold;

    color: #edeed5;

    padding: 5px;

   }

   footer {

    background: #01788d;

    color: #fff;

    padding: 10px;

    text-align: center;

    margin-left: auto;

    margin-right: auto;

   }

   footer a{

    color: #fff; 

   }

   section{

    background:  #7bc3cf;

   }

   section header{

    background: #3e9bac;

   }

   table{

    width: 100%;

   }

   #codeView{

    width: 100%;

    font: 1em sans-serif;

    resize: none;

    overflow: auto;

   }

   time{

    color: rgb(71, 5, 5);

    font-weight: bold;

   }

   .mainHeader{

    padding: 5px;

    background: #01788d;

   }
